/*   ----- Imports  -----  */                       

/* Google Fonts */

/*   ----- Variables  -----  */
:root {
  /* colors */

  /* fonts */

  /* sizes */

}

/*   ----- Reset  -----  */
*,
::after, 
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
}

/*   ----- Header  -----  */
#navbar, div.dropdown-menu.show {
  background-color: black; /* for drop down menu color */
}

#logo {
  height: 85px;
  width: 320px;
}

/*   ----- Product  -----  */
.product-link {
  color: black;
}

.product-link:hover {
  color: purple;
}

.product-title {
    height: 1.5em; /* Set a fixed heigh */
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis; /* Add ellipsis for long text */
    white-space: nowrap; /* Prevent wrapping */
}

/*   ----- Rating  -----  */
.rating span {
    margin: 0.1rem;
}

.rating svg {
    color: #F8E825;
}

.rating-text {
    font-size: 0.8rem;
    font-weight: bold;
    padding-left: 0.5rem;
}

/*   ----- SearchBox  -----  */
#search-box {
  color: black;
}

@media screen and (max-width: 768px) {
  .d-flex {
    margin-top: 7px;
  }
}

.d-flex > button {
  background-color: darkslategray;
  border: none;
}

.d-flex > button:hover {
  background-color: gray;
}
